# S-Algorithm

### Importing necessary libraries

In [2]:
import pandas as pd
import numpy as np

### Printing the Dataset

In [4]:
data = pd.read_csv('C:/Users/user/OneDrive/Desktop/Lab1.csv')

In [6]:
data

     sky air temp humidity    wind water forecast enjoy sport
0  sunny     warm   normal  strong  warm     same         yes
1  sunny     warm     high  strong  warm     same         yes
2  rainy     cold     high  strong  warm   change          no
3  sunny     warm     high  strong  cool   change         yes

### Printing the Instances and Target value

In [7]:
concepts = np.array(data)[:,:-1]
print("Instances are : \n",concepts)
target = np.array(data)[:,-1]
print("\nTarget Values are : \n",target)

Instances are :
 [['sunny' 'warm' 'normal' 'strong' 'warm' 'same']
 ['sunny' 'warm' 'high' 'strong' 'warm' 'same']
 ['rainy' 'cold' 'high' 'strong' 'warm' 'change']
 ['sunny' 'warm' 'high' 'strong' 'cool' 'change']]

Target Values are :
 ['yes' 'yes' 'no' 'yes']

### S-Algorithm Demonstration

In [8]:
def train(con,tar):
    for i,val in enumerate(tar):
        if val=='yes':
            specific_h = con[i].copy()
            break
            
    for i,val in enumerate(con):
        if tar[i]=='yes':
            for x in range(len(specific_h)):
                if val[x] != specific_h[x]:
                    specific_h[x] = '?'
                else:
                    pass
    return specific_h

In [9]:
print(train(concepts,target))

['sunny' 'warm' '?' 'strong' '?' '?']