### Find S Algorithm

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("final_exam_dataset.csv")

In [3]:
data

     sky airtemp humidity    wind water forcast enjoysport
0  sunny    warm   normal  strong  warm    same        yes
1  sunny    warm     high  strong  warm    same        yes
2  rainy    cold     high  strong  warm  change         no
3  sunny    warm     high  strong  cool  change        yes

In [4]:
concepts = np.array(data)[:,:-1]
print("Instances are : \n",concepts)
target = np.array(data)[:,-1]
print("\nTarget Values are : \n",target)

Instances are :
 [['sunny' 'warm' 'normal' 'strong' 'warm' 'same']
 ['sunny' 'warm' 'high' 'strong' 'warm' 'same']
 ['rainy' 'cold' 'high' 'strong' 'warm' 'change']
 ['sunny' 'warm' 'high' 'strong' 'cool' 'change']]

Target Values are :
 ['yes' 'yes' 'no' 'yes']

In [5]:
def train(con,tar):
    for i,val in enumerate(tar):
        if val=='yes':
            specific_h = con[i].copy()
            break
            
    for i,val in enumerate(con):
        if tar[i]=='yes':
            for x in range(len(specific_h)):
                if val[x] != specific_h[x]:
                    specific_h[x] = '?'
                else:
                    pass
    return specific_h

In [6]:
result = train(concepts,target)

In [8]:
print(result)

['sunny' 'warm' '?' 'strong' '?' '?']